<form action=""(ngSubmit)="onSubmit()">
<h2>Registrar un nuevo elemento</h2>
<div>
  <label for="">id articulo</label>
  <input type="number" name="id" id=""[(ngModel)]="id">
</div>
<div>
  <label for="">Nombre articulo</label>
  <input type="string" name="title" id=""[(ngModel)]="title">
</div>
<div>
  <label for="">precio del articulo</label>
  <input type="number" name="price" id=""[(ngModel)]="price">
</div>
<div>
  <label for="">cantidad de articulos</label>
  <input type="number" name="quantity" id=""[(ngModel)]="quantity">
</div>
<input type="submit" value="crear">




</form>
